#chart-button {
    z-index: 2000;
    position: fixed;
    right: 0;
}
#sidebar {
    overflow-y: scroll;
    width: 300;
    float: left;
    top: 0;
    height: 100vh;
    position: relative;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    transition-duration: 1s;
}